<a href="https://colab.research.google.com/github/Rohit0562-hub/2513246_RohitJoshi/blob/main/2513246_RohitJoshi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [98]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [99]:
df = pd.read_csv("/content/drive/MyDrive/Concept And Technologies of AI/Human_Development_Index_Dataset.csv", encoding="latin1")

In [100]:
df.head()

,Unnamed: 0,iso3,country,year,hdi,life_expectancy,pop_millions,hdi_f,hdi_m,life_expec_f,...,gender_development,gender_inequality,secondary_education_f_%,secondary_education_m_%,seats_in_parliament_f_%,seats_in_parliament_m_%,labour_participation_f_%,labour_participation_m_%,co2_emission_tons,mat_footprint_percap_tons
0,1,AFG,Afghanistan,1990,0.284,45.967,10.694796,NaN,NaN,48.397,...,NaN,NaN,1.107733,7.899011,NaN,NaN,NaN,NaN,0.189279,2.1809
1,2,AFG,Afghanistan,1991,0.292,46.663,10.745167,NaN,NaN,49.144,...,NaN,NaN,1.221396,8.137953,NaN,NaN,NaN,NaN,0.178155,2.5264
2,3,AFG,Afghanistan,1992,0.299,47.596,12.057433,NaN,NaN,50.320,...,NaN,NaN,1.335059,8.376896,NaN,NaN,NaN,NaN,0.122920,2.6421
3,4,AFG,Afghanistan,1993,0.307,51.466,14.003760,NaN,NaN,52.739,...,NaN,NaN,1.448722,8.615838,NaN,NaN,NaN,NaN,0.106179,2.3022
4,5,AFG,Afghanistan,1994,0.300,51.495,15.455554,NaN,NaN,53.544,...,NaN,NaN,1.562385,8.854780,NaN,NaN,NaN,NaN,0.094063,1.8948

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6798 entries, 0 to 6797
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 6798 non-null   int64
 1   iso3                       6798 non-null   object
 2   country                    6798 non-null   object
 3   year                       6798 non-null   int64
 4   hdi                        6171 non-null   float64
 5   life_expectancy            6798 non-null   float64
 6   pop_millions               6798 non-null   float64
 7   hdi_f                      5014 non-null   float64
 8   hdi_m                      5014 non-null   float64
 9   life_expec_f               6798 non-null   float64
 10  life_expec_m               6798 non-null   float64
 11  expec_yr_school            6550 non-null   float64
 12  expec_yr_school_f          6270 non-null   float64
 13  expec_yr_school_m          6270 non-null   float64
 14  mean_yr_school             6254 non-null   float64
 15  mean_yr_school_f           6164 non-null   float64
 16  mean_yr_school_m           6164 non-null   float64
 17  gross_inc_percap           6659 non-null   float64
 18  gross_inc_percap_f         5292 non-null   float64
 19  gross_inc_percap_m         5292 non-null   float64
 20  gender_development         5014 non-null   float64
 21  gender_inequality          4711 non-null   float64
 22  secondary_education_f_%    5817 non-null   float64
 23  secondary_education_m_%    5817 non-null   float64
 24  seats_in_parliament_f_%    6269 non-null   float64
 25  seats_in_parliament_m_%    6269 non-null   float64
 26  labour_participation_f_%   5310 non-null   float64
 27  labour_participation_m_%   5310 non-null   float64
 28  co2_emission_tons          6713 non-null   float64
 29  mat_footprint_percap_tons  5344 non-null   float64
dtypes: float64(26), int64(2), object(2)
memory usage: 1.6+ MB

In [102]:
#Problem 1
#Basic Data Exploration and Trend Visualization
#3.1 Problem - 1A - Single Year HDI Exploration (Latest Year: 2022)

#1 Extract Latest Year:
df['year'].unique()
hdi_2022_df = df[df['year'] == 2022].copy()
hdi_2022_df['year'].unique()

array([2022])

In [41]:
#2 Data Exploaration
hdi_2022_df.head(10)

,Unnamed: 0,iso3,country,year,hdi,life_expectancy,pop_millions,hdi_f,hdi_m,life_expec_f,...,gender_development,gender_inequality,secondary_education_f_%,secondary_education_m_%,seats_in_parliament_f_%,seats_in_parliament_m_%,labour_participation_f_%,labour_participation_m_%,co2_emission_tons,mat_footprint_percap_tons
32,33,AFG,Afghanistan,2022,0.462,62.879,41.128771,0.332443,0.534145,66.213,...,0.622,0.665,7.042050,24.077040,27.215190,72.784810,23.33,77.09,0.306318,1.1809
65,66,ALB,Albania,2022,0.789,76.833,2.842321,0.780277,0.798432,79.472,...,0.977,0.116,82.249185,86.476634,35.714286,64.285714,56.08,69.91,1.717758,11.7367
98,99,DZA,Algeria,2022,0.745,77.129,44.903225,0.681844,0.773800,78.457,...,0.881,0.460,42.910456,46.815170,7.005254,92.994746,17.57,65.53,4.079540,8.7199
131,132,AND,Andorra,2022,0.884,83.552,0.079824,NaN,NaN,85.838,...,NaN,NaN,81.718277,84.599998,46.428571,53.571429,NaN,NaN,4.593593,NaN
164,165,AGO,Angola,2022,0.591,61.929,35.588987,0.560890,0.619680,64.541,...,0.905,0.520,21.339865,37.411946,33.636364,66.363636,74.73,78.16,0.507359,3.6568
197,198,ATG,Antigua and Barbuda,2022,0.826,79.236,0.093763,NaN,NaN,81.645,...,NaN,NaN,NaN,NaN,31.428571,68.571429,NaN,NaN,6.401056,NaN
230,231,ARG,Argentina,2022,0.849,76.064,45.510318,0.841405,0.845473,79.277,...,0.995,0.292,73.591541,71.648085,44.376900,55.623100,52.08,71.74,4.190779,14.4512
263,264,ARM,Armenia,2022,0.786,73.372,2.780469,0.795110,0.774942,78.447,...,1.026,0.198,96.001381,97.050957,35.514019,64.485981,62.80,71.84,2.531088,7.3553
296,297,AUS,Australia,2022,0.946,83.579,26.177414,0.934602,0.955941,85.453,...,0.978,0.063,94.580063,94.430069,44.493392,55.506608,62.31,71.13,14.914763,26.9245
329,330,AUT,Austria,2022,0.926,82.412,8.939617,0.911592,0.937756,84.600,...,0.972,0.048,100.000000,100.000000,40.983607,59.016393,56.55,66.69,7.399461,27.9621

In [42]:
hdi_2022_df.shape

(206, 30)

In [95]:
hdi_2022_df.dtypes

Unnamed: 0                    int64
iso3                         object
country                      object
year                          int64
hdi                          object
life_expectancy              object
pop_millions                 object
hdi_f                        object
hdi_m                        object
life_expec_f                 object
life_expec_m                 object
expec_yr_school              object
expec_yr_school_f            object
expec_yr_school_m            object
mean_yr_school               object
mean_yr_school_f             object
mean_yr_school_m             object
gross_inc_percap             object
gross_inc_percap_f           object
gross_inc_percap_m           object
gender_development           object
gender_inequality            object
secondary_education_f_%      object
secondary_education_m_%      object
seats_in_parliament_f_%      object
seats_in_parliament_m_%      object
labour_participation_f_%     object
labour_participation_m_%     object
co2_emission_tons            object
mat_footprint_percap_tons    object
dtype: object

In [103]:
#3 Missing Values and Data Cleaning
hdi_2022_df.isnull().sum()

Unnamed: 0                    0
iso3                          0
country                       0
year                          0
hdi                           2
life_expectancy               0
pop_millions                  0
hdi_f                        13
hdi_m                        13
life_expec_f                  0
life_expec_m                  0
expec_yr_school               1
expec_yr_school_f             1
expec_yr_school_m             1
mean_yr_school                2
mean_yr_school_f              2
mean_yr_school_m              2
gross_inc_percap              2
gross_inc_percap_f           13
gross_inc_percap_m           13
gender_development           13
gender_inequality            29
secondary_education_f_%      17
secondary_education_m_%      17
seats_in_parliament_f_%       2
seats_in_parliament_m_%       2
labour_participation_f_%     12
labour_participation_m_%     12
co2_emission_tons             2
mat_footprint_percap_tons    41
dtype: int64

In [104]:
hdi_2022_df['country'] = hdi_2022_df['country'].str.strip().str.title()
hdi_2022_df['country'].str.strip().value_counts()
hdi_2022_df['country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua And Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plurinational State Of)', 'Bosnia And Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo',
       'Congo (Democratic Republic Of The)', 'Costa Rica',
       "Côte D'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini (Kingdom Of)', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hong Kong, China (Sar)', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran (Islamic Republic Of)',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati',
       "Korea (Democratic People'S Rep. Of)", 'Korea (Republic Of)',
       'Kuwait', 'Kyrgyzstan', "Lao People'S Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (Federated States Of)', 'Moldova (Republic Of)',
       'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestine, State Of',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Romania', 'Russian Federation',
       'Rwanda', 'Saint Kitts And Nevis', 'Saint Lucia',
       'Saint Vincent And The Grenadines', 'Samoa', 'San Marino',
       'Sao Tome And Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan',
       'Tanzania (United Republic Of)', 'Thailand', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad And Tobago', 'Tunisia', 'Türkiye',
       'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic Of)', 'Viet Nam', 'Yemen',
       'Zambia', 'Zimbabwe', 'Very High Human Development',
       'High Human Development', 'Medium Human Development',
       'Low Human Development', 'Arab States',
       'East Asia And The Pacific', 'Europe And Central Asia',
       'Latin America And The Caribbean', 'South Asia',
       'Sub-Saharan Africa', 'World'], dtype=object)

In [105]:
hdi_2022_df.duplicated().sum()
hdi_2022_df[hdi_2022_df.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, iso3, country, year, hdi, life_expectancy, pop_millions, hdi_f, hdi_m, life_expec_f, life_expec_m, expec_yr_school, expec_yr_school_f, expec_yr_school_m, mean_yr_school, mean_yr_school_f, mean_yr_school_m, gross_inc_percap, gross_inc_percap_f, gross_inc_percap_m, gender_development, gender_inequality, secondary_education_f_%, secondary_education_m_%, seats_in_parliament_f_%, seats_in_parliament_m_%, labour_participation_f_%, labour_participation_m_%, co2_emission_tons, mat_footprint_percap_tons]
Index: []

[0 rows x 30 columns]

In [109]:
hdi_2022_df.isin(['-', '..']).sum()

Unnamed: 0                   0
iso3                         0
country                      0
year                         0
hdi                          0
life_expectancy              0
pop_millions                 0
hdi_f                        0
hdi_m                        0
life_expec_f                 0
life_expec_m                 0
expec_yr_school              0
expec_yr_school_f            0
expec_yr_school_m            0
mean_yr_school               0
mean_yr_school_f             0
mean_yr_school_m             0
gross_inc_percap             0
gross_inc_percap_f           0
gross_inc_percap_m           0
gender_development           0
gender_inequality            0
secondary_education_f_%      0
secondary_education_m_%      0
seats_in_parliament_f_%      0
seats_in_parliament_m_%      0
labour_participation_f_%     0
labour_participation_m_%     0
co2_emission_tons            0
mat_footprint_percap_tons    0
dtype: int64

In [115]:
numeric_cols = hdi_2022_df.select_dtypes(include='float64').columns

for col in numeric_cols:
  hdi_2022_df[col] = hdi_2022_df[col].fillna(hdi_2022_df[col].median())

hdi_2022_df.isnull().sum()

#Missing values in the HDI 2022 dataset were filled with using median of each numeric column. The median is robust to outliers and is suitable for numeric and percentage columns.

Unnamed: 0                   0
iso3                         0
country                      0
year                         0
hdi                          0
life_expectancy              0
pop_millions                 0
hdi_f                        0
hdi_m                        0
life_expec_f                 0
life_expec_m                 0
expec_yr_school              0
expec_yr_school_f            0
expec_yr_school_m            0
mean_yr_school               0
mean_yr_school_f             0
mean_yr_school_m             0
gross_inc_percap             0
gross_inc_percap_f           0
gross_inc_percap_m           0
gender_development           0
gender_inequality            0
secondary_education_f_%      0
secondary_education_m_%      0
seats_in_parliament_f_%      0
seats_in_parliament_m_%      0
labour_participation_f_%     0
labour_participation_m_%     0
co2_emission_tons            0
mat_footprint_percap_tons    0
dtype: int64

In [126]:
#4 Basic Statistics:
hdi_2022_df[numeric_cols].agg(['mean', 'median', 'std'])

,hdi,life_expectancy,pop_millions,hdi_f,hdi_m,life_expec_f,life_expec_m,expec_yr_school,expec_yr_school_f,expec_yr_school_m,...,gender_development,gender_inequality,secondary_education_f_%,secondary_education_m_%,seats_in_parliament_f_%,seats_in_parliament_m_%,labour_participation_f_%,labour_participation_m_%,co2_emission_tons,mat_footprint_percap_tons
mean,0.723049,71.873834,147.872100,0.707663,0.739982,74.539060,69.302396,13.538268,13.842487,13.288405,...,0.949053,0.34235,61.456856,65.808706,25.201467,74.798533,49.799112,70.198379,4.293537,12.628619
median,0.739500,72.264500,10.054963,0.728905,0.751399,75.880500,69.412495,13.328010,13.957140,13.072574,...,0.969000,0.36000,66.521111,69.519997,25.308426,74.691574,52.135000,70.575000,2.566873,9.966200
std,0.152289,7.793063,666.540094,0.159182,0.138089,7.869154,7.797235,2.996444,3.367768,2.722743,...,0.068255,0.17837,28.968722,25.770602,11.875472,11.875472,14.581803,9.764645,5.416610,9.867460

In [131]:
hdi_2022_df.sort_values(by='hdi', ascending=False).head(1)[['country', 'hdi']]

          country    hdi
5609  Switzerland  0.967

In [133]:
hdi_2022_df.sort_values(by='hdi', ascending=True).head(1)[['country', 'hdi']]

      country   hdi
5345  Somalia  0.38

In [143]:
#5 Filtering and Sorting
high_hdi = hdi_2022_df[hdi_2022_df['hdi']> 0.800]
high_hdi_sorted = high_hdi.sort_values(by='gross_inc_percap', ascending=False)
high_hdi_sorted.head(10)

,Unnamed: 0,iso3,country,year,hdi,life_expectancy,pop_millions,hdi_f,hdi_m,life_expec_f,...,gender_development,gender_inequality,secondary_education_f_%,secondary_education_m_%,seats_in_parliament_f_%,seats_in_parliament_m_%,labour_participation_f_%,labour_participation_m_%,co2_emission_tons,mat_footprint_percap_tons
3332,3333,LIE,Liechtenstein,2022,0.942,84.656,0.039327,0.924163,0.974295,86.129,...,0.949,0.360,66.521111,69.519997,28.000000,72.000000,52.79,67.26,3.736776,9.9662
4718,4719,QAT,Qatar,2022,0.875,81.559,2.695122,0.892561,0.869100,83.101,...,1.027,0.212,81.832741,71.417976,4.444444,95.555556,61.73,95.33,39.884274,63.5912
5213,5214,SGP,Singapore,2022,0.949,84.133,5.975689,0.945325,0.954078,86.295,...,0.991,0.036,80.464020,85.932037,29.126214,70.873786,63.37,77.00,9.397481,43.1508
2705,2706,IRL,Ireland,2022,0.950,82.716,5.023109,0.942838,0.951392,84.412,...,0.991,0.072,88.585639,86.417415,27.397260,72.602740,59.40,70.51,7.529751,26.3467
3398,3399,LUX,Luxembourg,2022,0.927,82.591,0.647599,0.920482,0.927311,84.770,...,0.993,0.043,96.579350,89.328283,33.333333,66.666667,57.99,65.09,13.185395,49.1903
6104,6105,ARE,United Arab Emirates,2022,0.937,79.196,9.441128,0.922940,0.936027,81.412,...,0.986,0.035,82.029137,86.145172,50.000000,50.000000,55.32,89.45,25.333276,28.1632
5609,5610,CHE,Switzerland,2022,0.967,84.255,8.740472,0.949369,0.977383,85.932,...,0.971,0.018,96.939726,97.517437,39.024390,60.975610,61.49,71.94,4.117550,33.5913
4322,4323,NOR,Norway,2022,0.966,83.393,5.434319,0.957148,0.970415,85.055,...,0.986,0.012,99.094031,99.274980,44.970414,55.029586,62.53,69.59,7.573541,32.0515
6170,6171,USA,United States,2022,0.927,78.203,338.289857,0.927693,0.923405,81.015,...,1.005,0.180,95.424278,95.067093,28.060264,71.939736,56.79,67.97,14.932487,29.3498
2474,2475,HKG,"Hong Kong, China (Sar)",2022,0.956,84.315,7.488865,0.942671,0.969515,86.893,...,0.972,0.360,77.866913,84.067802,25.308426,74.691574,52.91,64.71,4.373242,9.9662

In [148]:
#6 Adding HDI Category Column
bins = [0, 0.550, 0.699, 0.799, 1.0]
labels = ['Low', 'Medium', 'High', 'Very High']

hdi_2022_df['HDI_Category'] = pd.cut(hdi_2022_df['hdi'], bins=bins, labels=labels, right=True, include_lowest=True)
print(hdi_2022_df[['country', 'hdi', 'HDI_Category']].head(15))

hdi_2022_df.to_csv('HDI_category_added.csv', index=False)

                 country    hdi HDI_Category
32           Afghanistan  0.462          Low
65               Albania  0.789         High
98               Algeria  0.745         High
131              Andorra  0.884    Very High
164               Angola  0.591       Medium
197  Antigua And Barbuda  0.826    Very High
230            Argentina  0.849    Very High
263              Armenia  0.786         High
296            Australia  0.946    Very High
329              Austria  0.926    Very High
362           Azerbaijan  0.760         High
395              Bahamas  0.820    Very High
428              Bahrain  0.888    Very High
461           Bangladesh  0.670       Medium
494             Barbados  0.809    Very High